[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "==4.67.1"
advent-of-code-data = "==2.0.4"

[dev-packages]
pre-commit = "==4.0.1"
ruff = "==0.8.1"
pyright = "==1.1.385"
